{% extends base.html %}

{% block resources_header %}
<link href="{{ static_url('css/user_room.css') }}" rel="stylesheet">
{% end %}

{% block main %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="ryu-label">Ryuk Here ...</div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="home-label text-right"><a href="/">Home</a></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 chat-area">
        <div class="chat"></div>
        <div class="input-div">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="msg_input" />
                <div class="input-group-append">
                    <button class="btn-send-text btn btn-success bg-success" name="msg_sent_btn" id="basic-addon2">send</button>
                </div>
            </div>
        </div>
        
        <input style="display: none;" name="username" value="{{ rdata['username'] }}" />
        <input style="display: none;" name="user_id" value="{{ rdata['user_id'] }}" />
        <input style="display: none;" name="userroom" value="{{ rdata['room'] }}" />
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="row justify-content-center new-user-div">
        </div>
    </div>
</div>
{% end %}

{% block resources_footer %}
<script src="{{ static_url('js/user_room.js') }}"></script>
{% end %}