
.content-container {
    background: url('../images/ryuk_bg.jpg') no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-color: #34495E;
}

.grid-container {
    display: flex;
    font-family: cursive;
    font-style: italic;
    color: #fff;
    letter-spacing: 0.05em;
}

.grid-box {
    flex: 0 0 50%;
    padding: 5em 0em;
}

.ryuk-text {
    font-size: 5em;
}

.ryu-sub-text {
    font-size: 3em;
}

.btn-join-room {
    letter-spacing: 0.05em;
    font-size: 2em;
}

.username-input {
    letter-spacing: 0.05em;
    font-size: 2em;
    padding: 0.9em;
}

.modal-title {
    line-height: 1.2em;
    letter-spacing: 0.05em;
    font-weight: bolder;
}

.modal-footer button {
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.room-code {
    font-size: 2em;
}

.input-group > input {
    padding: 0.6em 0.4em;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.06em;
}

.input-group > input:focus, .input-group > input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.room-code .small {
    font-size: 0.7em
}

#guidelines_modal li {
    font-size: 1.2em;
}

@media screen and (max-width: 400px) {
    .ryuk-text {
        font-size: 4em;
    }
    
    .ryu-sub-text {
        font-size: 2em;
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        margin: 0 1em;
    }

    body {
        background-color: #1B2631;
    }

    .content-container {
        background: unset;
        overflow: unset;
    }

    .grid-box {
        flex: 0 0 100%;
    }
}